@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<TelerikTabStrip>
    <TabStripTab Title="Sofia">
        aaaaaaaa
    </TabStripTab>
    <TabStripTab Title="London">
        bbbbbbbbbb
    </TabStripTab>
    <TabStripTab Title="Paris">
        ccccccccccccccccc
    </TabStripTab>
</TelerikTabStrip>
